<div class="cliente-listagem">
  <h1 class="cliente-listagem__titulo">Clientes</h1>

  <div class="card-elevated">
    @if (carregando) {
      <app-loading-spinner></app-loading-spinner>
    } @else {
      <table mat-table [dataSource]="clientes" class="cliente-listagem__tabela">
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let cliente">{{ cliente.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="documento">
          <th mat-header-cell *matHeaderCellDef>CPF/CNPJ</th>
          <td mat-cell *matCellDef="let cliente">{{ cliente.documento }}</td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let cliente">
            <button mat-button color="primary" (click)="verApolices(cliente)">
              Ver apólices
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
      </table>

      <mat-paginator
        [length]="total"
        [pageSize]="tamanhoPagina"
        [pageSizeOptions]="[10, 25, 50]"
        (page)="aoMudarPagina($event)">
      </mat-paginator>
    }
  </div>
</div>
